.App {
  text-align: center;
}

.App-logo {
  padding:10px;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Game-title {
  font-size: 5em;
  font-family: 'Joti One', cursive;
}
